<div *ngIf="serverError" style="font-size: 24px; margin-left: 30px">
  <div><strong>Database server is down.</strong></div>
  <div><strong>Please run data server with 'json-server mock-data\videodata.json' from application root.</strong></div>
</div>
<div *ngIf="!serverError" class="row">
  <div class="col-md-8">
    <div style="font-size: 24px; margin-left: 30px"><strong>{{title}}</strong></div>
    <app-player [controlsEvent]></app-player>
    <app-controls (controlsEvent)="controlsEvent=$event"></app-controls>
  </div>
  <div class="col-md-4"> 
    <app-playlist></app-playlist>
  </div>
</div>
<span class="float" routerLink="/addvideo">
  <button mat-fab matTooltip="Add a video" matTooltipClass="toolTip">
      <mat-icon class="float-icon">video_call</mat-icon>
    </button>
</span>

