<div class="row" style="font-size: 30px; color:rgb(69, 104, 145)">
    <div class="col" ngbTooltip="play">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Play" matTooltipClass="toolTip" (click)="controls('play')">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Pause" matTooltipClass="toolTip" (click)="controls('pause')">
        <mat-icon>pause</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Stop" matTooltipClass="toolTip" (click)="controls('stop')">
        <mat-icon>stop</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Volume Up" matTooltipClass="toolTip" (click)="controls('volumeup')">
        <mat-icon>volume_up</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Volume Down" matTooltipClass="toolTip" (click)="controls('volumedown')">
        <mat-icon>volume_down</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Mute" matTooltipClass="toolTip" (click)="controls('mute')">
        <mat-icon>volume_off</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Replay" matTooltipClass="toolTip" (click)="controls('reload')">
        <mat-icon>replay</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Replay" matTooltipClass="toolTip" (click)="controls('like')">
        <mat-icon>thumb_up</mat-icon>
      </button>
    </div>
    <div class="col">
      <button mat-mini-fab style="background-color:rgb(207, 207, 197); color: rgb(69, 104, 145)" matTooltip="Replay" matTooltipClass="toolTip" (click)="controls('dislike')">
        <mat-icon>thumb_down</mat-icon>
      </button>
    </div>
  </div>

  <span class="float" routerLink="/addvideo">
    <button mat-fab matTooltip="Add a video" matTooltipClass="toolTip">
        <mat-icon class="float-icon">video_call</mat-icon>
      </button>
  </span>