<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div style="font-size: 24px"><strong>Add a video</strong></div>
    <br>
    <div>
      <mat-form-field style="width:75%">
        <input matInput placeholder="Video Title">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width:75%">
        <input matInput placeholder="Video url">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button class="bgcolor lightfont">Add video</button>
    </div>
    <br>
    <mat-divider></mat-divider>
  </div>
  <div class="col-md-1">
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div style="font-size: 24px"><strong>My videos</strong></div>
    <br>
  </div>
  <div class="col-md-1">
  </div>
</div>

<span class="float" routerLink="/">
  <button mat-fab matTooltip="Go to videos" matTooltipClass="toolTip">
    <mat-icon class="float-icon">videocam</mat-icon>
  </button>
</span>